In [169]:
pwd

'C:\\Users\\Admin\\Umayal.M_DSFT4_C4\\Umayal.M_DSFT4_C4_S5'

In [170]:
import pandas as pd

In [227]:
df=pd.read_csv('C:\\Users\\Admin\\car_prices.csv')
df

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,30000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,27750,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,67000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,4.5,18255.0,silver,black,avis corporation,35300,33000,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,30800,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,34000,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,11100,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,26700,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [172]:
# TASK 1
# low price car manufactured in 2014
   # manfacturer of 5 low priced car

In [173]:
a=df[df.year==2014]
#a

In [174]:
c=(a.groupby(by='make')['sellingprice'].mean()).sort_values()
print('low price car manufactured in 2014 are \n')
print(c.head())

low price car manufactured in 2014 are

make
smart          8620.000000
FIAT          12585.109290
Mitsubishi    13502.323838
Kia           14341.490037
Volkswagen    14840.196850
Name: sellingprice, dtype: float64

In [175]:
# TASK 2
#BMW selling price in 2010 and 2015(diff)
  #condition>4.5, avg selling price in terms of percent(diff)

In [176]:
s1=df[df.make=='BMW']
s1

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,30000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,67000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
6,2014,BMW,M5,Base,Sedan,automatic,wbsfv9c51ed593089,ca,3.4,14943.0,black,black,the hertz corporation,69000,65000,Wed Dec 17 2014 12:30:00 GMT-0800 (PST)
19,2014,BMW,6 Series,650i,Convertible,automatic,wbayp9c53ed169260,ca,3.4,8819.0,black,black,the hertz corporation,68000,67200,Wed Dec 17 2014 12:30:00 GMT-0800 (PST)
21,2014,BMW,5 Series,528i,Sedan,automatic,wba5a5c51ed501631,ca,2.9,25969.0,black,black,financial services remarketing (lease),34200,30000,Tue Feb 03 2015 04:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558781,2006,BMW,3 Series,330i,Sedan,automatic,wbavb335x6ks34097,mo,2.5,113941.0,black,black,century sales & leasing inc,7000,9300,Tue Jul 07 2015 08:00:00 GMT-0700 (PDT)
558783,2003,BMW,3 Series,330i,Sedan,automatic,wbaev53413km28443,ca,3.7,124583.0,silver,â€”,central auto sales inc,3425,4500,Wed Jul 08 2015 09:05:00 GMT-0700 (PDT)
558808,2008,BMW,1 Series,135i,Convertible,automatic,wbaun93588vf56134,ca,3.3,96344.0,red,black,autonet trading,12500,13000,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558831,2011,BMW,5 Series,528i,Sedan,automatic,wbafr1c53bc744672,fl,3.9,66403.0,white,brown,lauderdale imports ltd bmw pembrok pines,20300,22800,Tue Jul 07 2015 06:15:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,34000,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)

In [177]:
#2010
y1=s1[s1.year==2010]
y1

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
2502,2010,BMW,3 Series,328i,Sedan,automatic,wbaph5g54anm35174,ca,3.5,66228.0,gray,gray,bmw of murrieta,12650,15500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2519,2010,BMW,7 Series,750Li,Sedan,automatic,wbakb8c58acy63859,ca,3.7,64010.0,beige,beige,caseys cars inc,28400,28500,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
2529,2010,BMW,3 Series,328i,Sedan,automatic,wbaph5g50anm35849,ca,2.0,75681.0,white,black,exeter finance corp,12100,13100,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
2550,2010,BMW,3 Series,328i,Sedan,automatic,wbaph5g51anm70903,ca,3.1,86064.0,black,black,auto depot,11400,11250,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
2598,2010,BMW,7 Series,750Li,Sedan,automatic,wbakb8c56acy63438,ca,1.9,57943.0,white,gray,financial services remarketing (lease),28800,30750,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557627,2010,BMW,3 Series,335i xDrive,sedan,automatic,wbapl3c58aa408642,mn,4.4,48410.0,silver,black,maplewood toyota,19600,18800,Thu Jun 18 2015 03:45:00 GMT-0700 (PDT)
557631,2010,BMW,X5,xDrive48i,suv,NaN,5uxfe8c51al311629,pa,4.0,75091.0,black,black,adcock brothers inc,21100,22500,Fri Jun 19 2015 02:00:00 GMT-0700 (PDT)
557635,2010,BMW,7 Series,750Li xDrive,sedan,automatic,wbakc8c57ac431129,fl,3.8,85454.0,black,tan,reeves import motorcars inc,24700,26100,Thu Jun 18 2015 02:45:00 GMT-0700 (PDT)
558051,2010,BMW,3 Series,328i,sedan,automatic,wbaph7g59anm49146,fl,3.6,70450.0,gray,black,audi pembroke pines,13150,12700,Fri Jun 19 2015 02:35:00 GMT-0700 (PDT)
558688,2010,BMW,5 Series,528i xDrive,sedan,NaN,wbanv1c57ac159728,pa,3.2,120000.0,silver,gray,r hollenshead auto sales inc,10200,10200,Fri Jun 19 2015 02:00:00 GMT-0700 (PDT)

In [178]:
a1=y1[y1.condition>4.5]['sellingprice'].mean()
a1

23572.222222222223

In [179]:
#2015
y2=s1[s1.year==2015]
y2

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
7876,2015,BMW,M4,Base,Coupe,automatic,wbs3r9c53fk329392,oh,5.0,3780.0,white,black,international motor car company,67000,64000,Thu Jan 15 2015 02:05:00 GMT-0800 (PST)
43585,2015,BMW,X1,xDrive28i,SUV,automatic,wbavl1c56fvy26418,fl,4.9,4127.0,white,red,ebenzz motors,32200,34300,Tue Dec 23 2014 09:30:00 GMT-0800 (PST)
56898,2015,BMW,X1,xDrive28i,SUV,automatic,wbavl1c56fvy24992,oh,4.9,10824.0,â€”,black,bmw north america greer,30900,29750,Tue Dec 30 2014 14:00:00 GMT-0800 (PST)
56900,2015,BMW,X1,xDrive35i,SUV,automatic,wbavm5c51fvv93813,oh,5.0,5360.0,beige,beige,bmw north america greer,33200,32750,Tue Dec 30 2014 14:00:00 GMT-0800 (PST)
56901,2015,BMW,X1,xDrive28i,SUV,automatic,wbavl1c58fvy29451,oh,4.3,12004.0,black,black,bmw north america greer,30800,30000,Tue Dec 30 2014 14:00:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
552386,2015,BMW,X5,xDrive35i,suv,automatic,5uxkr0c51f0p01630,oh,4.4,7291.0,white,â€”,bmw north america greer,59100,58000,Tue Jun 16 2015 07:00:00 GMT-0700 (PDT)
553182,2015,BMW,X5,sDrive35i,suv,automatic,5uxkr2c57f0h37045,ca,4.4,12839.0,white,beige,sixt rent a car llc,49200,43500,Thu Jun 18 2015 05:30:00 GMT-0700 (PDT)
553663,2015,BMW,X1,sDrive28i,suv,automatic,wbavm1c54fvz93907,fl,4.4,4924.0,black,black,lauderdale bmw of fort lauderdale,29600,27000,Fri Jun 19 2015 02:35:00 GMT-0700 (PDT)
555500,2015,BMW,X5,xDrive35i,suv,automatic,5uxkr0c53f0k66853,ga,4.4,15278.0,black,black,sixt rent a car llc,52300,46400,Thu Jun 18 2015 03:00:00 GMT-0700 (PDT)
557843,2015,BMW,M4,Base,coupe,automatic,wbs3r9c52fk329996,ca,4.6,7118.0,blue,black,costa mesa nissan,67000,67500,Thu Jun 18 2015 05:30:00 GMT-0700 (PDT)

In [180]:
a2=y2[y2.condition>4.5]['sellingprice'].mean()
a2

42994.68599033816

In [181]:
#percentage
diff=(a2-a1)/a2*100
print('Percentage by which the avg selling price of BMW cars with good condition having a score more than 4.5 in 2010 is less than',diff,'%','that of 2015')

Percentage by which the avg selling price of BMW cars with good condition having a score more than 4.5 in 2010 is less than 45.17410307980988 % that of 2015

In [182]:
# TASK 3 
#interior color impacts wholesale price of car
    #diff b/w avg whole sale price(mmr) of cars with interior black & gray

In [183]:
#black
black=df[df.interior=='black']['mmr'].mean()
black

15858.52005549485

In [184]:
#gray
gray=df[df.interior=='gray']['mmr'].mean()
gray

11189.776545228522

In [185]:
#diff
print('Difference between average whole sale price of cars with black and gray interior is',black-gray)

Difference between average whole sale price of cars with black and gray interior is 4668.743510266328

In [186]:
# TASK 4
#color impacts price of the car
  # from 2013 to 2015,colour wise total no.of manufacturer

In [187]:
#year
year=df[(df.year>=2013)&(df.year<=2015)]
year

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,30000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,27750,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,67000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558826,2014,Jeep,Grand Cherokee,Limited,SUV,automatic,1c4rjebg4ec573100,ca,4.4,9024.0,gray,black,enterprise vehicle exchange / tra / rental / t...,29800,17300,Thu Jul 09 2015 09:00:00 GMT-0700 (PDT)
558827,2014,Jeep,Grand Cherokee,Laredo,SUV,automatic,1c4rjfag0ec466276,pa,4.2,25180.0,gray,black,hertz corporation/gdp,26000,24500,Tue Jul 07 2015 06:30:00 GMT-0700 (PDT)
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,4.5,18255.0,silver,black,avis corporation,35300,33000,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,11100,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,26700,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [188]:
g=year.groupby(by='color')['make'].count()
g

color
beige         1686
black        35563
blue         13744
brown         2672
burgundy      2486
charcoal       187
gold          1744
gray         29464
green         2096
lime             8
off-white      375
orange         583
pink            29
purple         397
red          17230
silver       26143
turquoise       35
white        40055
yellow         262
â€”            12801
Name: make, dtype: int64

In [189]:
# FOR EACH MANFUCTURE-COUNT
pd.crosstab(year.color,year.make,rownames=['color'],colnames=['make'])
# for all count  pd.crosstab(df.color,df.make,rownames=['color'],colnames=['make'])

make,Acura,Audi,BMW,Bentley,Buick,Cadillac,Chevrolet,Chrysler,Dodge,FIAT,...,buick,chevrolet,dodge,jeep,land rover,lincoln,nissan,smart,volkswagen,vw
color,,,,,,,,,,,,,,,,,,,,,
beige,0,2,34,0,21,55,421,175,129,7,...,0,0,0,0,0,0,0,0,0,0
black,170,402,1235,5,157,298,3570,1599,2412,123,...,1,0,15,11,1,15,0,31,1,1
blue,19,78,252,3,55,36,1582,848,1722,37,...,0,2,6,3,0,0,0,9,1,0
brown,5,10,99,0,25,12,153,56,15,12,...,0,0,0,0,0,0,0,1,0,0
burgundy,20,1,1,0,12,2,167,232,100,0,...,0,0,0,0,0,0,0,0,0,0
charcoal,2,0,1,0,1,0,36,18,40,9,...,0,0,0,0,0,0,0,0,0,0
gold,0,1,8,0,19,50,354,334,311,0,...,0,0,0,0,0,0,0,0,0,0
gray,107,181,710,3,189,85,2933,1343,2304,91,...,0,1,3,1,0,0,0,13,0,1
green,1,0,4,0,0,1,160,2,16,55,...,0,0,0,0,0,0,0,0,0,0
lime,0,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
off-white,3,0,2,0,11,11,24,4,18,0,...,0,0,0,0,0,0,0,0,0,0
orange,0,0,14,0,0,0,52,0,135,7,...,0,0,0,0,0,0,0,0,0,0
pink,0,0,0,0,0,12,13,0,1,0,...,0,0,0,0,0,0,0,0,0,0
purple,1,0,1,0,6,1,25,0,14,0,...,0,0,0,0,0,0,0,0,0,0
red,8,29,139,0,75,48,2154,788,1530,88,...,1,0,1,4,0,0,0,18,1,0
silver,61,183,190,0,235,196,4474,860,1251,45,...,1,0,4,0,0,0,1,23,0,0
turquoise,0,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
white,98,313,1101,0,308,141,5143,1657,2601,116,...,0,0,12,8,0,0,0,30,0,1
yellow,0,0,0,0,0,0,75,0,3,23,...,0,0,0,0,0,0,0,3,0,0
â€”,3,85,297,2,13,13,343,183,300,17,...,0,0,0,0,0,3,0,5,1,10

In [190]:
# TASK 5
   #total sales of cars with SUV bodies on 'Fri Dec 19,2014, 09:00:00 GMT-0800' and 'Thu Jan 15,2015, 04:30:00 GMT-0800 (PST)'
   #sales of car(%) in this period

In [191]:
#filter
f1=df[(df.body=='SUV')&(df.saledate=='Thu Jan 15 2015 04:30:00 GMT-0800 (PST)')]
#f1

In [192]:
f2=df[(df.body=='SUV')&(df.saledate=='Fri Dec 19 2014 09:00:00 GMT-0800 (PST)')]
#f2

In [193]:
#total sales
sale1=f1['sellingprice'].sum()
print('Total sale of cars with SUV bodies during Thu Jan 15 2015=',sale1)
sale2=f2['sellingprice'].sum()
print('Total sale of cars with SUV bodies during Fri Dec 19 2014=',sale2)

Total sale of cars with SUV bodies during Thu Jan 15 2015= 9650725
Total sale of cars with SUV bodies during Fri Dec 19 2014= 10343000

In [194]:
#percentage
dif=((sale2-sale1)/sale2)*100
print('The total sales of car with SUV body in Thu Jan 15 2015 04:30:00 GMT-0800 (PST) has decreased by',dif,'%',' while comparing with Fri Dec 19 2014 09:00:00 GMT-0800 (PST)')

The total sales of car with SUV body in Thu Jan 15 2015 04:30:00 GMT-0800 (PST) has decreased by 6.693174127429178 %  while comparing with Fri Dec 19 2014 09:00:00 GMT-0800 (PST)

In [228]:
# TASK 6
  #ford and chevrolet 10% discount and all others 20%
  #new column 'Discounted_Price' after selling price

In [231]:
#new column
df['Discounted_Price']=0.2*df['sellingprice']
b=0.1*df['sellingprice']
df.loc[(df.make=='Chevrolet')|(df.make=='Ford'),'Discounted_Price']=b
df

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,Discounted_Price,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,21500,4300.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,21500,4300.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,30000,6000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,27750,5550.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,67000,13400.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,4.5,18255.0,silver,black,avis corporation,35300,33000,6600.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,30800,6160.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,34000,6800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,11100,2220.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,26700,2670.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [235]:
aa=df.pop('Discounted_Price')
df.insert(15,"Discounted_Price",aa)
print('After inserting Discounted_Price column near to sellingprice')
df

After inserting Discounted_Price column near to sellingprice

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,Discounted_Price,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,21500,4300.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,21500,4300.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,30000,6000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,27750,5550.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,67000,13400.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,4.5,18255.0,silver,black,avis corporation,35300,33000,6600.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,30800,6160.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,34000,6800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,11100,2220.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,26700,2670.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [198]:
# TASK 7
  #remove 2 columns
  #fill missing data

In [199]:
#remove columns
df.pop('vin')
df.pop('saledate')
df

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mmr,sellingprice,Discounted_Price
0,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,21500,4300.0
1,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,21500,4300.0
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,30000,6000.0
3,2015,Volvo,S60,T5,Sedan,automatic,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,27750,5550.0
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,67000,13400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,in,4.5,18255.0,silver,black,avis corporation,35300,33000,6600.0
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,30800,6160.0
558834,2012,BMW,X5,xDrive35d,SUV,automatic,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,34000,6800.0
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,11100,2220.0
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,26700,2670.0

In [200]:
print(df.isnull().sum())
print(df.info())

year                    0
make                10301
model               10399
trim                10651
body                13195
transmission        65353
state                   1
condition           11794
odometer               94
color                 749
interior              749
seller                  0
mmr                     0
sellingprice            0
Discounted_Price        0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   year              558837 non-null  int64
 1   make              548536 non-null  object
 2   model             548438 non-null  object
 3   trim              548186 non-null  object
 4   body              545642 non-null  object
 5   transmission      493484 non-null  object
 6   state             558836 non-null  object
 7   condition         547043 non-null  float64
 8   odometer          558743 non-null  float64
 9   color             558088 non-null  object
 10  interior          558088 non-null  object
 11  seller            558837 non-null  object
 12  mmr               558837 non-null  int64
 13  sellingprice      558837 non-null  int64
 14  Discounted_Price  558837 non-null  float64
dtypes: float64(3), int64(3), object(9)
memory usage: 64.0+ MB
None

In [201]:
#MAKE
#finding missing one
m1=df['make'].value_counts()
m1.sort_values(ascending=False)

Ford          93554
Chevrolet     60197
Nissan        53946
Toyota        39871
Dodge         30710
              ...
airstream         1
dot               1
hyundai tk        1
mazda tk          1
Lotus             1
Name: make, Length: 96, dtype: int64

In [202]:
#filling
df['make']=df['make'].fillna('Ford')

In [203]:
#MODEL
#finding missing one
df['model'].value_counts()

Altima        19349
F-150         14479
Fusion        12946
Camry         12545
Escape        11861
              ...
siera             1
avalon            1
c240s             1
allure            1
458 Italia        1
Name: model, Length: 973, dtype: int64

In [204]:
#filling
df['model']=df['model'].fillna('Altima')

In [205]:
#TRIM
#finding missing one
df['trim'].value_counts()

Base                 55817
SE                   43648
LX                   20757
Limited              18356
LT                   16915
                     ...
4x2 reg silver ls        1
25 4x4 cr sle            1
xl                       1
4x4 v6 xlt sport         1
Power Wagon              1
Name: trim, Length: 1972, dtype: int64

In [206]:
#filling
df['trim']=df['trim'].fillna('Base')

In [207]:
#BODY
#finding missing one
df['body'].value_counts()

Sedan          199437
SUV            119292
sedan           41906
suv             24552
Hatchback       21380
                ...
Ram Van             1
CTS-V Wagon         1
g37 coupe           1
cab plus 4          1
cts wagon           1
Name: body, Length: 87, dtype: int64

In [208]:
#filling
df['body']=df['body'].fillna('Sedan')

In [209]:
#TRANSMISSION
#finding missing one
df['transmission'].value_counts()

automatic    475914
manual        17544
sedan            15
Sedan            11
Name: transmission, dtype: int64

In [210]:
#filling
df['transmission']=df['transmission'].fillna('automatic')

In [211]:
#STATE
#finding missing one
df['state'].value_counts()

fl    82952
ca    73152
pa    53909
tx    45914
ga    34753
nj    27784
il    23486
nc    21845
oh    21575
tn    20895
mo    16013
mi    15511
nv    12685
va    12029
md    11158
wi     9852
mn     9429
az     8741
co     7776
wa     7416
ma     6729
ny     5699
in     4326
sc     4252
ne     4013
on     3442
pr     2725
la     2191
ms     1853
ut     1836
qc     1245
hi     1237
or     1155
ab      928
nm      171
ok       72
ns       61
al       26
Name: state, dtype: int64

In [212]:
#filling
df['state']=df['state'].fillna('fl')

In [213]:
#CONDITION
#finding missing one
avg=df['condition'].mean()
print(avg)

3.424510504655353

In [214]:
#filling
df['condition']=df['condition'].fillna(avg)

In [215]:
#ODOMETER
#finding missing one
avg1=df['odometer'].mean()
print(avg1)

68320.43754821089

In [216]:
#filling
df['odometer']=df['odometer'].fillna(avg1)

In [217]:
#COLOR
#finding missing one
df['color'].value_counts()

black        110974
white        106677
silver        83394
gray          82860
blue          51144
red           43573
â€”             24686
green         11382
gold          11342
beige          9222
burgundy       8972
brown          6717
orange         2078
purple         1561
off-white      1449
yellow         1285
charcoal        479
turquoise       236
pink             42
lime             15
Name: color, dtype: int64

In [218]:
#filling
df['color']=df['color'].fillna('black')

In [219]:
#INTERIOR
#finding missing one
df['interior'].value_counts()

black        244347
gray         178582
beige         59758
tan           44093
â€”             17076
brown          8640
red            1359
blue           1138
silver         1099
off-white       480
purple          339
gold            324
white           252
green           245
burgundy        191
orange          145
yellow           20
Name: interior, dtype: int64

In [220]:
#filling
df['interior']=df['interior'].fillna('black')

In [221]:
print(df.isnull().sum())
print(df.info())

year                0
make                0
model               0
trim                0
body                0
transmission        0
state               0
condition           0
odometer            0
color               0
interior            0
seller              0
mmr                 0
sellingprice        0
Discounted_Price    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   year              558837 non-null  int64
 1   make              558837 non-null  object
 2   model             558837 non-null  object
 3   trim              558837 non-null  object
 4   body              558837 non-null  object
 5   transmission      558837 non-null  object
 6   state             558837 non-null  object
 7   condition         558837 non-null  float64
 8   odometer          558837 non-null  float64
 9   color             558837 non-null  object
 10  interior          558837 non-null  object
 11  seller            558837 non-null  object
 12  mmr               558837 non-null  int64
 13  sellingprice      558837 non-null  int64
 14  Discounted_Price  558837 non-null  float64
dtypes: float64(3), int64(3), object(9)
memory usage: 64.0+ MB
None

In [222]:
# END