In [1]:
import pandas as pd

In [160]:
# TASK 1
Name=['Alex','Antony','Thomas','William','Kevin','Danny','Sunny','Martin','Jacob','Prince']
Maths_mark=[52,86,99,74,63,50,49,67,92,87]
S1=pd.Series(Maths_mark,index=Name)
print('The Maths mark obtained by 10 students are:')
print(S1)

The Maths mark obtained by 10 students are:
Alex       52
Antony     86
Thomas     99
William    74
Kevin      63
Danny      50
Sunny      49
Martin     67
Jacob      92
Prince     87
dtype: int64

In [161]:
# TASK 2
Physics_mark=[80,59,88,63,94,77,64,55,99,89]
S2=pd.Series(Physics_mark,index=Name)
print('The Physics mark obtained by 10 students are:')
print(S2)
Total_score=S1+S2
print('The total marks obtained by students are:')
print(Total_score)
print('The students qualifying for olympiad are:')
print(Total_score[Total_score>=150])

The Physics mark obtained by 10 students are:
Alex       80
Antony     59
Thomas     88
William    63
Kevin      94
Danny      77
Sunny      64
Martin     55
Jacob      99
Prince     89
dtype: int64
The total marks obtained by students are:
Alex       132
Antony     145
Thomas     187
William    137
Kevin      157
Danny      127
Sunny      113
Martin     122
Jacob      191
Prince     176
dtype: int64
The students qualifying for olympiad are:
Thomas    187
Kevin     157
Jacob     191
Prince    176
dtype: int64

In [162]:
# TASK 3
print(S1>S2)

Alex       False
Antony      True
Thomas      True
William     True
Kevin      False
Danny      False
Sunny      False
Martin      True
Jacob      False
Prince     False
dtype: bool

In [165]:
print(S1<S2)

Alex        True
Antony     False
Thomas     False
William    False
Kevin       True
Danny       True
Sunny       True
Martin     False
Jacob       True
Prince      True
dtype: bool

In [166]:
print(S1==S2)

Alex       False
Antony     False
Thomas     False
William    False
Kevin      False
Danny      False
Sunny      False
Martin     False
Jacob      False
Prince     False
dtype: bool

In [167]:
print('Difference in Maths and Physics markS are:')
print(S1-S2)

Difference in Maths and Physics mark are:
Alex      -28
Antony     27
Thomas     11
William    11
Kevin     -31
Danny     -27
Sunny     -15
Martin     12
Jacob      -7
Prince     -2
dtype: int64

In [ ]:
 #####################################################################################################################333

In [180]:
# TASK 4
import numpy as np
car=np.random.randint(30000,50001,20)
S4=pd.Series(car,index=np.arange(101,121))
print('The car model number with price:')
print(S4)

The car model number with price:
101    44545
102    30527
103    47405
104    36311
105    46178
106    34122
107    49688
108    36241
109    34165
110    43576
111    32101
112    37882
113    45336
114    34077
115    41879
116    41264
117    46313
118    42892
119    37853
120    49609
dtype: int32

In [181]:
# TASK 5

S5=S4[S4>40000]
 # print(S5)
print('Cars price greater than 40,000 is',S5.size)

Cars price greater than 40,000 is 11

In [182]:
# TASK 6
S6=S4[(S4.index>=111) & (S4.index<117)]
print('Cars from model number 111 to 116 are:')
print(S6)
print('The highest price of car within model number 111 to 116 is',S6.max())

Cars from model number 111 to 116 are:
111    32101
112    37882
113    45336
114    34077
115    41879
116    41264
dtype: int32
The highest price of car within model number 111 to 116 is 45336

In [183]:
# TASK 7
S7=S4[(S4>=30000) & (S4<=40000)]
print('The cars having price between 30,000 and 40,000 is',S7.size)

The cars having price between 30,000 and 40,000 is 9

In [184]:
# TASK 8
avg=S4.mean()
print('Average price of car is',avg)
S8=S4[S4>avg]
# print(S8)
print('No.of cars greater than average price is',S8.size)

Average price of car is 40598.2
No.of cars greater than average price is 11

In [185]:
# TASK 9
model_no=[201,202,203]
price=[34000,45000,54000]
S91=pd.Series(price,index=model_no)
S9=pd.concat([S4,S91])
print('New data of cars:')
print(S9)

New data of cars:
101    44545
102    30527
103    47405
104    36311
105    46178
106    34122
107    49688
108    36241
109    34165
110    43576
111    32101
112    37882
113    45336
114    34077
115    41879
116    41264
117    46313
118    42892
119    37853
120    49609
201    34000
202    45000
203    54000
dtype: int64

In [186]:
# TASK 10
S10=S9.copy()
S10[S10>40000]=S10[S10>40000]*0.9
print('Before decrement')
print(S9)
print('After decrement by 10%')
print(S10)

Before decrement
101    44545
102    30527
103    47405
104    36311
105    46178
106    34122
107    49688
108    36241
109    34165
110    43576
111    32101
112    37882
113    45336
114    34077
115    41879
116    41264
117    46313
118    42892
119    37853
120    49609
201    34000
202    45000
203    54000
dtype: int64
After decrement by 10%
101    40090.5
102    30527.0
103    42664.5
104    36311.0
105    41560.2
106    34122.0
107    44719.2
108    36241.0
109    34165.0
110    39218.4
111    32101.0
112    37882.0
113    40802.4
114    34077.0
115    37691.1
116    37137.6
117    41681.7
118    38602.8
119    37853.0
120    44648.1
201    34000.0
202    40500.0
203    48600.0
dtype: float64

In [190]:
# TASK 11
print('No.of cars between the price 30,000 to 40,00 before discount is',S9.size)
S11=S10[(S10>=30000) & (S10<=40000)]
print('No.of cars between the price 30,000 to 40,00 before discount is',S11.size)

No.of cars between the price 30,000 to 40,00 before discount is 23
No.of cars between the price 30,000 to 40,00 before discount is 14

In [191]:
# TASK 12
sort_asc=S9.sort_values()
print('The five cheapest cars are:')
print(sort_asc[0:5])

The five cheapest cars are:
102    30527
111    32101
201    34000
114    34077
106    34122
dtype: int64

In [ ]:
# END