In [1]:
# TASK 1.A
Roll_no=1716148
print(Roll_no)
print(id(Roll_no))
print(type(Roll_no))

1716148
1924184975472
<class 'int'>

In [2]:
# TASK 1.B
First_name='Umayal'
print(First_name)
print(id(First_name))
print(type(First_name))

Umayal
1924184220464
<class 'str'>

In [3]:
# TASK 1.C
Last_name='Manickam'
print(Last_name)
print(id(Last_name))
print(type(Last_name))

Manickam
1924184786416
<class 'str'>

In [4]:
# TASK 1.D
Max_marks=50
print(Max_marks)
print(id(Max_marks))
print(type(Max_marks))

50
1926269005648
<class 'int'>

In [25]:
# TASK 2.A 
var1=2

In [26]:
# TASK 2.B This code will give error,because variable name should not start with number.
2var=2

SyntaxError: invalid syntax (Temp/ipykernel_8336/3638817649.py, line 2)

In [27]:
# TASK 2.C This code will give error,because variable name should not contain space.
var 1=2

SyntaxError: invalid syntax (Temp/ipykernel_8336/2289351400.py, line 2)

In [28]:
# TASK 2.D This code will give error,because variable name should not contain special character except underscore(_).
var$2=2

SyntaxError: invalid syntax (Temp/ipykernel_8336/216189351.py, line 2)

In [29]:
# TASK 3.A
Class=15

In [30]:
#TASK 3.B class is a keyword here,so it cannot be used as a variable.
class=14

SyntaxError: invalid syntax (Temp/ipykernel_8336/3305763128.py, line 2)

In [31]:
#TASK 3.C 
DEF=13

In [32]:
#TASK 3.D def is a keyword here,so it cannot be used as a variable.
def=12

SyntaxError: invalid syntax (Temp/ipykernel_8336/259729623.py, line 2)

In [3]:
#TASK 3.E Only True as boolean can be used and there cannot be any variable.
a=TRUE

NameError: name 'TRUE' is not defined

In [34]:
#TASK 3.F Only False as boolean can be used and there cannot be any variable.
b=false

NameError: name 'false' is not defined

In [5]:
# TASK 4.A
Marks=45.55
print(Marks)
print(id(Marks))
print(type(Marks))

45.55
1924184973392
<class 'float'>

In [6]:
# TASK 4.B
Marks=25.89
print(Marks)
print(id(Marks))
print(type(Marks))

25.89
1924184619920
<class 'float'>

In [7]:
# TASK 4.C
# ID is not same,as it is unique for each assigned variable.

In [68]:
# TASK 5.A
Marks=117
Max_marks=120
Percentage=(Marks/Max_marks)*100
print(Percentage,'%')

97.5 %

In [36]:
# TASK 5.B
First_name='Umayal'
Last_name=' Manickam'
Full_name=First_name+Last_name
print(Full_name)

Umayal Manickam

In [69]:
# TASK 5.C
print(Full_name,Percentage,"%")

Umayal Manickam 97.5 %

In [12]:
# TASK 7.A Different data type of variable cannot be added,as we have int and string data types here.So,addition is not possible.
1+'2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [42]:
# TASK 7.B Addition between same data type(string) is possible, and here string concatenation takes place.
'1'+'2'

'12'

In [43]:
# TASK 7.C Division operator gives the quotient.
1/2

0.5

In [44]:
# TASK 7.D Floor division opartor gives the integer part of the quotient. 
1//2

0

In [14]:
# TASK 8.A When both are True the output is True in AND operator.
True and True

True

In [45]:
# TASK 8.B When one is False then output automatically gets False in AND operator.
True and False

False

In [46]:
# TASK 8.C When one is True then output automatically gets True in OR operator.
False or True

True

In [47]:
# TASK 8.D When one is False then output automatically gets False in OR operator.
False or False

False

In [49]:
# TASK 9.A My first name is a part of my full name,so the output is true.
First_name='Umayal'
Full_name='Umayal Manickam'
print(First_name in Full_name)

True

In [48]:
# TASK 9.B My first name is same as my full name,so the output is true.
First_name='Umayal'
Full_name='Umayal'
print(First_name is Full_name)

True

In [54]:
# TASK 10
a=4
b=3
c=2
d=a**b+c
e=a**(b+c)
print('d=',d)
print('e=',e)
# d and e value are not same
# d-the operator precedence is exponential,addition
# e-the operator precedence is parentheses,addition,exponential.

d= 66
e= 1024

In [56]:
# TASK 11
Radius=6
Pi=3.14
Area=Pi*Radius**2
print('AREA OF THE CIRCLE=',Area)

AREA OF THE CIRCLE= 113.04

In [63]:
# TASK 12
Selling_price=85
Sales_tax=0.18
Tax_amount=Selling_price*Sales_tax
print('TAX AMOUNT=',Tax_amount)
Final_amount=Selling_price+Tax_amount
print('FINAL PRICE=',Final_amount)

TAX AMOUNT= 15.299999999999999
FINAL PRICE= 100.3

In [72]:
# TASK 13
Total_INR=3333
dollar=75
print('Total amount=$',Total_INR/dollar)

Total amount=$ 44.44

In [4]:
# TASK 14
Purchasing_power=500
Inflation_rate=0.07

print('Purchasing_power_Lastyear=$',Purchasing_power/(1+Inflation_rate))

Purchasing_power_Lastyear=$ 467.2897196261682

In [5]:
467.2897196261682*1.07

500.0